#head_item_service_config {
  width: 94%;
  margin-top: 50px;
  padding-top: 10px;
  background: #156428;
  display: inline-block;
  box-shadow: 8px 6px 5px #51494C;
  border-radius: 15px;
}
#head_item_service_config p {
  font-size: 20px;
  font-family: MingLiU;
  color: #F8F8FF;
}
#head_item_service_config #head_item_service_config_hosts_list {
  width: 100%;
  margin-top: 0px;
  padding-top: 40px;
  background: #268B68;
  padding-bottom: 40px;
  border-radius: 15px;
  display: inline-block;
  box-shadow: 8px 6px 5px #51494C;
}
.little_click_icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.little_click_icon img {
  width: 100%;
  height: 100%;
}
.little_click_icon:hover {
  cursor: pointer;
}
.cmts_self {
  background: #28a68e;
  border: 1px solid #00C0FC;
  color: #F8F8FF;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-right: 50px;
  cursor: pointer;
  inline-height: 40px;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
.cmts_self:hover {
  background: #40D0B5;
}
