/*body*/
/*{*/
    /*color: #FFFFFF;*/
    /*text-align: center;*/
/*}*/
/*.section1*/
/*{*/
    /*background-color: #BFDA00;*/
/*}*/
/*.section2*/
/*{*/
    /*background-color: #2EBE21;*/
/*}*/
/*.section3*/
/*{*/
    /*background-color: #2C3E50;*/
/*}*/
/*.section4*/
/*{*/
    /*background-color: #FF9900;*/
/*}*/
/*#menu { margin: 0; padding: 0; position: fixed; left: 10px; top: 10px; list-style-type: none; z-index: 70;}*/
/*#menu li { float: left; margin:  0 10px 0 0; font-size: 14px;}*/
/*#menu a { float: left; padding: 10px 20px; background-color: #fff; color: #333; text-decoration: none;}*/
/*#menu .active a { color: #fff; background-color: #333;}*/


body {
    width: 100%;
    *cursor: default;
    overflow: hidden;
    font: 16px/1.5 "Microsoft YaHei";
}
div,p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
#pageContain {
    overflow: hidden;
}
.page {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.contain {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    z-index: 0;
}
.current .contain,.slide .contain {
    display: block;
}
.current {
    display: block;
    z-index: 1;
}
.slide {
    display: block;
    z-index: 2;
}
.page1 {
    background: #37c1e3;
}
.page2 {
    background: #009922;
}
.page3 {
    background: #992211;
}
.page4 {
    background: #ff00ff;
}
.page5 {
    background: #00ff00;
}
.page6 {
    background: #22ffff;
}
#navBar {
    z-index: 3;
    position: absolute;
    top: 30%;
    right: 3%;
}
#navBar .active {
    background: #ccc;
}
#navBar li {
    cursor: pointer;
    margin-bottom: 10px;
    transition: all .7s ease;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
}
h1
{
    text-align: center;
    margin-top: 20%;
}